datetime
requests
cfscrape
socks
pysocks
colorama
undetected_chromedriver
cloudscraper
beautifulsoup4
lxml
selenium
fake-useragent
urllib3
aiohttp
asyncio
pycryptodome
termcolor
rich
python-dotenv
tqdm
